# Ignore Cache
__pycache__/
/cache/

# Ignore data generated during execution
# /data/

# Pesa mais que 100mb e é facil de baixar
data/20250401_atividade_economica.csv 

# Ignore virtual environments
venv/